.vertical {
    width: 60%;
    border-top-width: 3px;
    color: #F55D17;
    justify-content: center;
    align-items: center;
    display: flex;
}


h2 {
   padding-top: 28px;
}

.teste {
   width: 50%;
   justify-content: center;
   align-items: center;
   display: flex;
}