.container {
  margin: 0 80px;
  gap: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 72%;
  padding: 40px 0 40px 0;

  .img {
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    margin-bottom: 20px;
  }

  .card {
    width: 82%;
    height: 100%;
    text-align: center;
    box-shadow: 11px 20px 20px -3px #02486b,
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    :hover {
    }
  }

  .textList {
    // list-style:-moz-linear-gradient(10)
    text-align: left;
    margin-left: 30px;
    pointer-events: none;
  }
}
