.footer {
    display: flex;
    justify-content: center;

    .container{
        justify-content: space-around;
        align-items: center;
        
        background-color: black;
        display: flex;
        height: 300px;
        width: 100%;

        img {
            width: 200px;
            height: 200px;
        }

       
    }
    .titulo{
       h1{
        color: white;
        position: top;
        font-size: 20px;
       } 
       hr {
        color: white;
       }

       p{
        color: aliceblue;
       }
       img {
        width: 20%;
        height: 20%;
       }
    }
}

.footer h2 {
    font-weight: 400;
    font-size: 18px;
}